@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Futuro Semplice (Future)</div>
        <form id="formindicativoFuturoSemplice">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoSempliceIo"> io </span>
                            <input type="text" class="form-control" id="exindicativoFuturoSempliceIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturosempliceio" id="answerindicativoFuturoSempliceIo" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoSempliceIo">@verb.indicativofuturosempliceio</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoSempliceTu"> tu </span>
                            <input type="text" class="form-control" id="exindicativoFuturoSempliceTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturosemplicetu" id="answerindicativoFuturoSempliceTu" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoSempliceTu">@verb.indicativofuturosemplicetu</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoSempliceLui">lui</span>
                            <input type="text" class="form-control" id="exindicativoFuturoSempliceLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturosemplicelui" id="answerindicativoFuturoSempliceLui" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoSempliceLui">@verb.indicativofuturosemplicelui</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoSempliceNoi">noi</span>
                            <input type="text" class="form-control" id="exindicativoFuturoSempliceNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturosemplicenoi" id="answerindicativoFuturoSempliceNoi" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoSempliceNoi">@verb.indicativofuturosemplicenoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoSempliceVoi">voi</span>
                            <input type="text" class="form-control" id="exindicativoFuturoSempliceVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturosemplicevoi" id="answerindicativoFuturoSempliceVoi" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoSempliceVoi">@verb.indicativofuturosemplicevoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoSempliceLoro">loro</span>
                            <input type="text" class="form-control" id="exindicativoFuturoSempliceLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturosempliceloro" id="answerindicativoFuturoSempliceLoro" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoSempliceLoro">@verb.indicativofuturosempliceloro</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerindicativoFuturoSemplice">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciaindicativoFuturoSemplice">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>