@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Futuro Anteriore (Past future)</div>
        <form id="formindicativoFuturoAnteriore">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoAnterioreIo"> io </span>
                            <input type="text" class="form-control" id="exindicativoFuturoAnterioreIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturoanterioreio" id="answerindicativoFuturoAnterioreIo" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoAnterioreIo">@verb.indicativofuturoanterioreio</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoAnterioreTu"> tu </span>
                            <input type="text" class="form-control" id="exindicativoFuturoAnterioreTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturoanterioretu" id="answerindicativoFuturoAnterioreTu" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoAnterioreTu">@verb.indicativofuturoanterioretu</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoAnterioreLui">lui</span>
                            <input type="text" class="form-control" id="exindicativoFuturoAnterioreLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturoanteriorelui" id="answerindicativoFuturoAnterioreLui" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoAnterioreLui">@verb.indicativofuturoanteriorelui</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoAnterioreNoi">noi</span>
                            <input type="text" class="form-control" id="exindicativoFuturoAnterioreNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturoanteriorenoi" id="answerindicativoFuturoAnterioreNoi" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoAnterioreNoi">@verb.indicativofuturoanteriorenoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoAnterioreVoi">voi</span>
                            <input type="text" class="form-control" id="exindicativoFuturoAnterioreVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturoanteriorevoi" id="answerindicativoFuturoAnterioreVoi" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoAnterioreVoi">@verb.indicativofuturoanteriorevoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoFuturoAnterioreLoro">loro</span>
                            <input type="text" class="form-control" id="exindicativoFuturoAnterioreLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativofuturoanterioreloro" id="answerindicativoFuturoAnterioreLoro" hidden>
                            <span class="CSSverbsAnswerindicativoFuturoAnterioreLoro">@verb.indicativofuturoanterioreloro</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerindicativoFuturoAnteriore">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciaindicativoFuturoAnteriore">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>