@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Passato Prossimo (Present perfect)</div>
        <form id="formindicativoPassatoProssimo">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoPassatoProssimoIo"> io </span>
                            <input type="text" class="form-control" id="exindicativoPassatoProssimoIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativopassatoprossimoio" id="answerindicativoPassatoProssimoIo" hidden>
                            <span class="CSSverbsAnswerindicativoPassatoProssimoIo">@verb.indicativopassatoprossimoio</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoPassatoProssimoTu"> tu </span>
                            <input type="text" class="form-control" id="exindicativoPassatoProssimoTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativopassatoprossimotu" id="answerindicativoPassatoProssimoTu" hidden>
                            <span class="CSSverbsAnswerindicativoPassatoProssimoTu">@verb.indicativopassatoprossimotu</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoPassatoProssimoLui">lui</span>
                            <input type="text" class="form-control" id="exindicativoPassatoProssimoLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativopassatoprossimolui" id="answerindicativoPassatoProssimoLui" hidden>
                            <span class="CSSverbsAnswerindicativoPassatoProssimoLui">@verb.indicativopassatoprossimolui</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoPassatoProssimoNoi">noi</span>
                            <input type="text" class="form-control" id="exindicativoPassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativopassatoprossimonoi" id="answerindicativoPassatoProssimoNoi" hidden>
                            <span class="CSSverbsAnswerindicativoPassatoProssimoNoi">@verb.indicativopassatoprossimonoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoPassatoProssimoVoi">voi</span>
                            <input type="text" class="form-control" id="exindicativoPassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativopassatoprossimovoi" id="answerindicativoPassatoProssimoVoi" hidden>
                            <span class="CSSverbsAnswerindicativoPassatoProssimoVoi">@verb.indicativopassatoprossimovoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoPassatoProssimoLoro">loro</span>
                            <input type="text" class="form-control" id="exindicativoPassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativopassatoprossimoloro" id="answerindicativoPassatoProssimoLoro" hidden>
                            <span class="CSSverbsAnswerindicativoPassatoProssimoLoro">@verb.indicativopassatoprossimoloro</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerindicativoPassatoProssimo">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciaindicativoPassatoProssimo">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
