@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Trapassato Prossimo (Past Perfect)</div>
        <form id="formindicativoTrapassatoProssimo">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoTrapassatoProssimoIo"> io </span>
                            <input type="text" class="form-control" id="exindicativoTrapassatoProssimoIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativotrapassatoprossimoio" id="answerindicativoTrapassatoProssimoIo" hidden>
                            <span class="CSSverbsAnswerindicativoTrapassatoProssimoIo">@verb.indicativotrapassatoprossimoio</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoTrapassatoProssimoTu"> tu </span>
                            <input type="text" class="form-control" id="exindicativoTrapassatoProssimoTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativotrapassatoprossimotu" id="answerindicativoTrapassatoProssimoTu" hidden>
                            <span class="CSSverbsAnswerindicativoTrapassatoProssimoTu">@verb.indicativotrapassatoprossimotu</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoTrapassatoProssimoLui">lui</span>
                            <input type="text" class="form-control" id="exindicativoTrapassatoProssimoLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativotrapassatoprossimolui" id="answerindicativoTrapassatoProssimoLui" hidden>
                            <span class="CSSverbsAnswerindicativoTrapassatoProssimoLui">@verb.indicativotrapassatoprossimolui</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoTrapassatoProssimoNoi">noi</span>
                            <input type="text" class="form-control" id="exindicativoTrapassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativotrapassatoprossimonoi" id="answerindicativoTrapassatoProssimoNoi" hidden>
                            <span class="CSSverbsAnswerindicativoTrapassatoProssimoNoi">@verb.indicativotrapassatoprossimonoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoTrapassatoProssimoVoi">voi</span>
                            <input type="text" class="form-control" id="exindicativoTrapassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativotrapassatoprossimovoi" id="answerindicativoTrapassatoProssimoVoi" hidden>
                            <span class="CSSverbsAnswerindicativoTrapassatoProssimoVoi">@verb.indicativotrapassatoprossimovoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="indicativoTrapassatoProssimoLoro">loro</span>
                            <input type="text" class="form-control" id="exindicativoTrapassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.indicativotrapassatoprossimoloro" id="answerindicativoTrapassatoProssimoLoro" hidden>
                            <span class="CSSverbsAnswerindicativoTrapassatoProssimoLoro">@verb.indicativotrapassatoprossimoloro</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerindicativoTrapassatoProssimo">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciaindicativoTrapassatoProssimo">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>