@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Presente (Present)</div>
        <form id="formcongiuntivoPresente">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="congiuntivoPresenteIo"> io </span>
                            <input type="text" class="form-control" id="excongiuntivoPresenteIo" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.congiuntivopresenteio" id="answercongiuntivoPresenteIo" hidden>
                            <span class="CSSverbsAnswercongiuntivoPresenteIo">@verb.congiuntivopresenteio</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="congiuntivoPresenteTu"> tu </span>
                            <input type="text" class="form-control" id="excongiuntivoPresenteTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.congiuntivopresentetu" id="answercongiuntivoPresenteTu" hidden>
                            <span class="CSSverbsAnswercongiuntivoPresenteTu">@verb.congiuntivopresentetu</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="congiuntivoPresenteLui">lui</span>
                            <input type="text" class="form-control" id="excongiuntivoPresenteLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.congiuntivopresentelui" id="answercongiuntivoPresenteLui" hidden>
                            <span class="CSSverbsAnswercongiuntivoPresenteLui">@verb.congiuntivopresentelui</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="congiuntivoPresenteNoi">noi</span>
                            <input type="text" class="form-control" id="excongiuntivoPresenteNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.congiuntivopresentenoi" id="answercongiuntivoPresenteNoi" hidden>
                            <span class="CSSverbsAnswercongiuntivoPresenteNoi">@verb.congiuntivopresentenoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="congiuntivoPresenteVoi">voi</span>
                            <input type="text" class="form-control" id="excongiuntivoPresenteVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.congiuntivopresentevoi" id="answercongiuntivoPresenteVoi" hidden>
                            <span class="CSSverbsAnswercongiuntivoPresenteVoi">@verb.congiuntivopresentevoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="congiuntivoPresenteLoro">loro</span>
                            <input type="text" class="form-control" id="excongiuntivoPresenteLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.congiuntivopresenteloro" id="answercongiuntivoPresenteLoro" hidden>
                            <span class="CSSverbsAnswercongiuntivoPresenteLoro">@verb.congiuntivopresenteloro</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answercongiuntivoPresente">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciacongiuntivoPresente">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>