@using PracticeTheVerb.Domain.Entities.Italian;
@using PracticeTheVerb.Domain.Entities;
@model ResultViewEntity<ItalianVerb>;

@{
    var verb = Model.Data;
}
<div class="col pt-1 pb-1">
    <div class="p-3 border bg-light">
        <div class="text-center">Presente (Present)</div>
        <form id="formimperativoPresente">
            <table class="table table-borderless p-0 m-0">
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="imperativoPresenteTu"> tu </span>
                            <input type="text" class="form-control" id="eximperativoPresenteTu" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.imperativopresentetu" id="answerimperativoPresenteTu" hidden>
                            <span class="CSSverbsAnswerimperativoPresenteTu">@verb.imperativopresentetu</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="imperativoPresenteLui">lui</span>
                            <input type="text" class="form-control" id="eximperativoPresenteLui" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.imperativopresentelui" id="answerimperativoPresenteLui" hidden>
                            <span class="CSSverbsAnswerimperativoPresenteLui">@verb.imperativopresentelui</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="imperativoPresenteNoi">noi</span>
                            <input type="text" class="form-control" id="eximperativoPresenteNoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.imperativopresentenoi" id="answerimperativoPresenteNoi" hidden>
                            <span class="CSSverbsAnswerimperativoPresenteNoi">@verb.imperativopresentenoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="imperativoPresenteVoi">voi</span>
                            <input type="text" class="form-control" id="eximperativoPresenteVoi" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.imperativopresentevoi" id="answerimperativoPresenteVoi" hidden>
                            <span class="CSSverbsAnswerimperativoPresenteVoi">@verb.imperativopresentevoi</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="pb-0 mb-0">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="imperativoPresenteLoro">loro</span>
                            <input type="text" class="form-control" id="eximperativoPresenteLoro" oninput="this.value = this.value.toLowerCase()">
                        </div>
                    </td>
                    <td class="pb-0 mb-0">
                        <div>

                            <input type="text" class="form-control" value="@verb.imperativopresenteloro" id="answerimperativoPresenteLoro" hidden>
                            <span class="CSSverbsAnswerimperativoPresenteLoro">@verb.imperativopresenteloro</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-outline-primary" id="answerimperativoPresente">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciaimperativoPresente">Ricomincia</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>